# ---- IGNORE ------
# Folders with large/unzipped data
data/
outputs/
archives/
LEAFs/example/

# Keep empty data/ visible in the repo
!data/.gitkeep

# Geospatial rasters
*.tif
*.tiff
*.vrt
*.nc
*.hdf
*.h5
*.img
*.bil

# Archives (don’t track these in Git)
*.zip
*.7z
*.rar

# Logs
*.log

# Misc OS/editor cruft
.DS_Store
Thumbs.db
.ipynb_checkpoints/
*.tmp

# Local env/secrets
.env
.venv/
*.pem

# Local notes (optional)
cloudfare.txt